div, p, a, em, strong, li {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

h1, .h1 {
    font-size: 26px;
}

h2, .h2 {
    font-size: 23px;
}

h3, .h3 {
    font-size: 20px;
}