input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='submit'],
input[type='button'],
button
{
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    display: block;
    margin: 0 0 16px 0;
    padding: 8px;
    border: 1px solid #CECECE;
    border-radius: 2px;
    outline: 0;
    color: #444;
    line-height: 1;

    &:hover {
        border: 1px solid #AEAEAE;
    }

    &:focus {
        border: 1px solid #4a9ac6;
    }
}

input[type='checkbox'] {
    display: inline-block;
    margin: 0 0 16px 0;
}

select {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: block;
    margin: 0 0 16px 0;
    padding: 8px;
    border: 1px solid #CECECE;
    border-radius: 2px;
    outline: 0;
    color: #444;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-align-last: center;
}

input[type='submit'],
button {
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    height: auto;
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: white;

    &:hover {
        border: 2px solid $primaryColor;
    }
}

.btn-primary-outline {
    background-color: white;
    border: 2px solid $primaryColor;
    color: $primaryColor;

    &:hover {
        border: 2px solid $primaryColor;
    }
}