$gutterHalf: 15px;
$gutter: $gutterHalf * 2;
$columns: 12;

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Grid start */
.container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutterHalf;
    padding-right: $gutterHalf;
}

.row:after, .row:before,
.container:after, .container:before {
    content: " ";
    display: table;
}

.row {
    margin: 0 (-$gutterHalf);

    &:after {
        clear: both;
    }
}

@for $i from 1 through $columns {

    .col-xs-#{$i},
    .col-sm-#{$i},
    .col-md-#{$i} {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 $gutterHalf;
        float: left;
    }
}

main {
    padding-bottom: 50px;
}

@media screen and (min-width:600px) {
    @for $i from 1 through $columns {

        $columnWidth: 100% / $columns * $i;
        .col-sm-#{$i} {
            position: relative;
            width: calc(#{$columnWidth} - #{$gutter});
            min-height: 1px;
            padding: 0 $gutterHalf;
        }
    }

    @for $i from 1 through 12 {
        .offset-sm-#{$i} {
            margin-left: 100% / $columns * $i;
        }
    }
}

@media screen and (min-width:768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            position: relative;
            width: 100% / $columns * $i;
            min-height: 1px;
            padding: 0 $gutterHalf;
        }
    }

    @for $i from 1 through 12 {
        .offset-md-#{$i} {
            margin-left: 100% / $columns * $i;;
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 900px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    div.container {
        width: 992px;
    }

    div.small-container {
        width: 800px;
        padding: 0;
    }
}