header {

    #logo {
        display: inline-block;
        margin: 10px 35px;
        font-size: 32px;
        font-weight: bold;
        text-decoration: none;

        span {
            display: inline-block;
            padding-top: 5px;
            font-size: 15px;
            vertical-align: top;
        }
    }

    nav {
        display: inline-block;
        float: right;

        a {
            color: #636b6f;
            display: inline-block;
            padding: 22px 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}