html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "fonts";

// Framework
@import 'framework';

// Sections
@import 'header';
@import "form";
@import 'notifications';

// specific pages
@import "auth";