@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

div,
p,
a,
em,
strong,
li {
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 26px;
}

h2,
.h2 {
  font-size: 23px;
}

h3,
.h3 {
  font-size: 20px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

/* Grid start */

.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row:after,
.row:before,
.container:after,
.container:before {
  content: " ";
  display: table;
}

.row {
  margin: 0 -15px;
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-2,
.col-sm-2,
.col-md-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-3,
.col-sm-3,
.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-4,
.col-sm-4,
.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-5,
.col-sm-5,
.col-md-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-6,
.col-sm-6,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-7,
.col-sm-7,
.col-md-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-8,
.col-sm-8,
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-9,
.col-sm-9,
.col-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-10,
.col-sm-10,
.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-11,
.col-sm-11,
.col-md-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

.col-xs-12,
.col-sm-12,
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  float: left;
}

main {
  padding-bottom: 50px;
}

@media screen and (min-width: 600px) {
  .col-sm-1 {
    position: relative;
    width: calc(8.3333333333% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-2 {
    position: relative;
    width: calc(16.6666666667% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-3 {
    position: relative;
    width: calc(25% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-4 {
    position: relative;
    width: calc(33.3333333333% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-5 {
    position: relative;
    width: calc(41.6666666667% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-6 {
    position: relative;
    width: calc(50% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-7 {
    position: relative;
    width: calc(58.3333333333% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-8 {
    position: relative;
    width: calc(66.6666666667% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-9 {
    position: relative;
    width: calc(75% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-10 {
    position: relative;
    width: calc(83.3333333333% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-11 {
    position: relative;
    width: calc(91.6666666667% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .col-sm-12 {
    position: relative;
    width: calc(100% - 30px);
    min-height: 1px;
    padding: 0 15px;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .offset-sm-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    position: relative;
    width: 8.3333333333%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-2 {
    position: relative;
    width: 16.6666666667%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-3 {
    position: relative;
    width: 25%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-4 {
    position: relative;
    width: 33.3333333333%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-5 {
    position: relative;
    width: 41.6666666667%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-6 {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-7 {
    position: relative;
    width: 58.3333333333%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-8 {
    position: relative;
    width: 66.6666666667%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-9 {
    position: relative;
    width: 75%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-10 {
    position: relative;
    width: 83.3333333333%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-11 {
    position: relative;
    width: 91.6666666667%;
    min-height: 1px;
    padding: 0 15px;
  }

  .col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .offset-md-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  div.container {
    width: 992px;
  }

  div.small-container {
    width: 800px;
    padding: 0;
  }
}

header #logo {
  display: inline-block;
  margin: 10px 35px;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

header #logo span {
  display: inline-block;
  padding-top: 5px;
  font-size: 15px;
  vertical-align: top;
}

header nav {
  display: inline-block;
  float: right;
}

header nav a {
  color: #636b6f;
  display: inline-block;
  padding: 22px 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=submit],
input[type=button],
button {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  display: block;
  margin: 0 0 16px 0;
  padding: 8px;
  border: 1px solid #CECECE;
  border-radius: 2px;
  outline: 0;
  color: #444;
  line-height: 1;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  border: 1px solid #AEAEAE;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=submit]:focus,
input[type=button]:focus,
button:focus {
  border: 1px solid #4a9ac6;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 0 16px 0;
}

select {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  display: block;
  margin: 0 0 16px 0;
  padding: 8px;
  border: 1px solid #CECECE;
  border-radius: 2px;
  outline: 0;
  color: #444;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}

input[type=submit],
button {
  font-size: 16px;
  font-weight: bold;
}

.btn-primary {
  height: auto;
  background-color: #6cb2eb;
  border: 2px solid #6cb2eb;
  color: white;
}

.btn-primary:hover {
  border: 2px solid #6cb2eb;
}

.btn-primary-outline {
  background-color: white;
  border: 2px solid #6cb2eb;
  color: #6cb2eb;
}

.btn-primary-outline:hover {
  border: 2px solid #6cb2eb;
}

.auth h1,
.home h1 {
  text-align: center;
}

